<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
<input type="text" name="" class="message">
<button onclick=sendInfo()>send</button>
<button onclick=deleteParent()>delete Parent</button>
<h1></h1>
<div class="chatBox"></div>

    
<script>
    const socket = io("http://localhost:3002")

    const chatBox = document.querySelector('.chatBox')


    socket.on('send',info=>{
            console.log(info)
        })


    function sendInfo(){

        const messageInput = document.querySelector('.message')
        const value = messageInput.value

        socket.emit('value',value)
        const div = document.createElement('div')
        div.classList.add('fresh')
        div.style.backgroundColor = 'red'
        div.style.color = 'white'
        div.innerHTML = value
        chatBox.append(div)
    }


    function deleteParent(){
        const fresh = document.querySelector('.fresh')
        fresh.remove()
        fresh.parentNode.remove()

    }
</script>
</body>
</html>